doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Jiminy Cricket
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='stylesheet', href='stylesheets/vendor/reset/normalize.css')
    link(rel='stylesheet', href='stylesheets/vendor/animate.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='js/vendor/modernizr.custom.js')
  body
    //if lt IE 7
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    .container
      #bl-main.bl-main
        section#about-section
          .bl-box
            h2.bl-icon.bl-icon-about About 
          .bl-content
            h2 About me
            p  
              |  台北北投人。追求結合自己的興趣，並可以帶給別人歡樂的工作，喜歡設計，長期以來一直以做出自己的東西為目標而努力。
            p 沒有音樂很難工作，假日去海邊或是親近大自然，看電影，什麼都看
            p 一年前發現網路世界起了大變化，想要自己的作品可以感染更多人，或是幫助別人的作品讓全世界的人知道，這是最棒的媒介，於是一頭栽進 HTML, CSS, Javascript 的世界。
            h2  Q 1. 你平常喜歡聽什麼樣的音樂？
            p 這問題很難阿! 沒有特別偏好哪種音樂，只是有些特別喜歡的曲子:
            p
              a(href="https://www.youtube.com/watch?v=PfG_G2O2q40", target="_blank") world's end girlfriend - Les Enfants du Paradis &

            p 
              a(href="https://www.youtube.com/watch?v=TJ6Mzvh3XCc" target="_blank") arvo pärt - Spiegel im Spiegel
            p 
              a(href="https://www.youtube.com/watch?v=ivN5B6YPKqY" target="_blank") 傷心欲絕-也許我見不到妳  & 
              a(href="https://www.youtube.com/watch?v=YvPxeIfsSe4" target="_blank") 司機! 請你載我回家
            p
              a(href="https://www.youtube.com/watch?v=iR5Xnod-7RI", target="_blank") World's End Girlfriend - Birthday Resistance  
            p
              a(href="https://www.youtube.com/watch?v=h6HMiw_8-4Q", target="_blank") ASIAN KUNG-FU GENERATION - Solanin
            h2  Q 2. 最喜歡的 5 部電影？
            ul 
              li 1. Fight Club 鬥陣俱樂部
              li 2. Blue Gate Crossing 藍色大門
              li 3. The Secret Life of Walter Mitty 白日夢冒險王
              li 4. Little Miss Sunshine 小太陽的願望
              li 5. Le Fabuleux Destin d'Amélie Poulain 艾蜜莉的異想世界
            h2  Q 3. 日常時間都逛些什麼網站？
            p awwwards
            p pinterest
            p codegeekz
            p sidebar
            p codepen
            p codrops
            p coolhunting
            p 
              a(href="http://graphicdesign.stackexchange.com/", target="_blank") GRAPHIC DESIGN
            h2  Q 4. 週末都會做什麼事呢？
            p 去海邊衝沙 (衝沙是什麼?)
            p  
            h2  Q 5. 你覺得連勝文怎樣 (請謹慎回答 XD)？
            p 跟林來瘋一樣體重
            p 一直玩一直玩一直玩一直玩
            h2  Q 6. 你覺得你腦子的洞有多大？
            p 管記憶那部分破的有太平洋那麼大
            h2 Experience
            p 
              span Infine art & communicate: 
              |web marketing
            p 
              span SOHO: 
              |Graphic Design
            p 
              span DB Skimboard Taiwan: 
              |Visual Designer 
            p 
              span Deansoft: 
              |Internship as front end
            h2 Skill
            p Illustrator, Photoshop, UI, HTML, CSS, Bootstrap, Compass, Sass, Gulp, jQuery, Angular, Git, coffee making, skimboard
            h2 Interesting
            p UX, UI, motion graphic, typography, scullptor, movie, graphic, woodworking, skate, filming, snowboarding
          span.bl-icon.bl-icon-close
        section#bl-work-section 
          .bl-box
            h2.bl-icon.bl-icon-works.bl-icon-works Works
          .bl-content
            h2 My Works
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eos earum pariatur aperiam, amet facere sit nobis ratione quis ipsum impedit quaerat, odit dicta harum nulla natus! Consequuntur, perspiciatis, facilis!
            ul#bl-work-items
              li(data-panel="panel-1")
                a(href="#")
                  img(src="images/1.jpg")
              li(data-panel="panel-2")
                a(href="#")
                  img(src="images/2.jpg")
              li(data-panel="panel-3")
                a(href="#")
                  img(src="images/3.jpg")
              li(data-panel="panel-4")
                a(href="#")
                  img(src="images/4.jpg")
              li(data-panel="panel-5")
                a(href="#")
                  img(src="images/5.jpg")
              li(data-panel="panel-6")
                a(href="#")
                  img(src="images/6.jpg")
              li(data-panel="panel-7")
                a(href="#")
                  img(src="images/7.jpg")
              li(data-panel="panel-8")
                a(href="#")
                  img(src="images/8.jpg")
              li(data-panel="panel-9")
                a(href="#")
                  img(src="images/9.jpg")
          span.bl-icon.bl-icon-close            
        #face.face.animated.tada
          .container
            .inner
              .img
              #eyes
                svg.eyes(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="87.858px" height="14.6px" viewBox="0 0 87.858 14.6" enable-background="new 0 0 87.858 14.6" xml:space="preserve")
                  g
                    circle(fill="#231F20" cx="6.968" cy="6.967" r="6.968")
                    circle(fill="#231F20" cx="80.89" cy="7.631" r="6.968")
        //- end of level 1
        //- start panel thing
        .bl-panel-items#bl-panel-work-items
          div(data-panel="panel-1")
            div
              img(src="images/1.jpg")
              h3 Hello
              p  
                | Lorem ipsum dolor sit amet, 
                | consectetur adipisicing elit. Nostrum, consequatur tempore facere atque molestias possimus alias quos recusandae hic odio, harum quae amet maiores itaque officiis, qui iste? Eligendi, aliquam.
          div(data-panel="panel-2")
            div
              img(src="images/2.jpg")
              h3 Hello
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, consequatur tempore facere atque molestias possimus alias quos recusandae hic odio, harum quae amet maiores itaque officiis, qui iste? Eligendi, aliquam.
          div(data-panel="panel-3")
            div
              img(src="images/3.jpg")
              h3 Hello
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, consequatur tempore facere atque molestias possimus alias quos recusandae hic odio, harum quae amet maiores itaque officiis, qui iste? Eligendi, aliquam.
          div(data-panel="panel-4")
            div
              img(src="images/4.jpg")
              h3 Hello
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, consequatur tempore facere atque molestias possimus alias quos recusandae hic odio, harum quae amet maiores itaque officiis, qui iste? Eligendi, aliquam.
          div(data-panel="panel-5")
            div
              img(src="images/5.jpg")
              h3 Hello
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, consequatur tempore facere atque molestias possimus alias quos recusandae hic odio, harum quae amet maiores itaque officiis, qui iste? Eligendi, aliquam.
          div(data-panel="panel-6")
            div
              img(src="images/6.jpg")
              h3 Hello
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, consequatur tempore facere atque molestias possimus alias quos recusandae hic odio, harum quae amet maiores itaque officiis, qui iste? Eligendi, aliquam.
          div(data-panel="panel-7")
            div
              h3 相逢．何需．相識 
              h3 Treasuring this encounter even though we’re strangers
              iframe(src="//player.vimeo.com/video/95157005" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                p
                  a(href="http://vimeo.com/95157005") 相逢．何需．相識 Treasuring this encounter even though we’re strangers
                  | from 
                  a(href="http://vimeo.com/user1841205") kuang_black
                  | on 
                  a(href="https://vimeo.com") Vimeo
              p 晨光的電影夢，幸運的可以參與一部分。
              p 攝影
          div(data-panel="panel-8")
            div
              h3 2013 年滑雪影展得獎作品
              iframe(width="600" height="480" src="//www.youtube.com/embed/WPTspinUUTs?rel=0" frameborder="0" allowfullscreen)
              p 旅行中難忘經驗的紀錄。
              p 攝影 / 剪輯 / 後製
          div(data-panel="panel-9")
            div
              h3 第一屆 Red Bull 皂飛車
              div.clear
                img(src="images/9-1.jpg")
                img(src="images/9-2.jpg")
                img(src="images/9-3.jpg")
                img(src="images/9-4.jpg")  
                img(src="images/9-5.jpg")
                img(src="images/9-6.jpg")
              p 我們用手刻了一台皇上龍椅車，才出發就撞車，可是很開心
              a(href="http://youtu.be/IWiVDiHqTNs?t=21s" target="_blank") 別人拍的
          nav
            span.bl-next-work 
              |&gt; Next Project
            span.bl-icon.bl-icon-close
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\\/script>')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script(src='js/app/app.js')
    script.
      $(function() {
        Boxlayout.init();
      });
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
